html,
body,
div,
p,
span,
a,
ul,
li,
label,
button,
header,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", Microsoft YaHei, Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
.clearfix {
  clear: both;
  zoom: 1;
  display: inline-block;
}
.text-center {
  text-align: center;
}
ul li {
  list-style: none;
}
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  height: 90px;
  background: #4D3B66;
  opacity: .8;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}
.header .logo,
.header .nav {
  display: inline-block;
  padding: 15px 50px;
  height: 60px;
  line-height: 60px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}
.header .logo img,
.header .nav img {
  height: 100%;
  float: left;
}
.header .logo a,
.header .nav a {
  margin-left: 10px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #dcdcdc;
  opacity: .6;
}
.header .logo a:hover,
.header .nav a:hover {
  color: #fff;
  opacity: 1;
}
.header .logo li.active a,
.header .nav li.active a {
  color: #fff;
  opacity: 1;
}
.header .logo a {
  opacity: 1;
}
.header ul.nav {
  float: right;
  list-style: none;
}
.header ul.nav li {
  display: inline-block;
  float: left;
}
.header ul.nav li a {
  font-size: 0.9rem;
  margin-left: 20px;
}
.header.active {
  height: 50px;
}
.header.active .logo,
.header.active .nav {
  padding: 10px 50px;
  height: 30px;
  line-height: 30px;
}
.header.active .logo a {
  font-size: 1.3rem;
}
.slider-wrapper {
  height: 550px;
}
.slider-wrapper .slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.slider-wrapper .slider li {
  height: 550px;
  position: absolute;
  width: 100%;
  z-index: -99;
  background-size: 100% 100%;
  transition: left 1s;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.slider-wrapper .slider li .slider-mask {
  position: absolute;
  height: 550px;
  top: 0;
  z-index: 9;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider-wrapper .slider li img {
  width: 100%;
  height: 100%;
}
.slider-wrapper .slider li .slider-content-wrapper {
  position: absolute;
  left: 25%;
  top: 90%;
  z-index: 99;
  width: 50%;
  margin: -50px auto auto;
  text-align: center;
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.slider-wrapper .slider li .slider-content-wrapper h5 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
}
.slider-wrapper .slider li .slider-content-wrapper p.desc {
  line-height: 30px;
  color: #fff;
}
.slider-wrapper .slider li.banner-1 {
  left: 0;
  z-index: 8;
}
.slider-wrapper .slider-point {
  position: absolute;
  z-index: 9;
  margin-top: -50px;
  width: 100%;
  text-align: center;
}
.slider-wrapper .slider-point li {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  margin-right: 10px;
  opacity: .3;
}
.slider-wrapper .slider-point li.active {
  opacity: 1;
}
.slider-wrapper .slider-arrow.prev,
.slider-wrapper .slider-arrow.next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 550px;
  line-height: 550px;
  text-align: center;
  z-index: 9;
}
.slider-wrapper .slider-arrow.prev a,
.slider-wrapper .slider-arrow.next a {
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: xx-large;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}
.slider-wrapper .slider-arrow.prev a:hover,
.slider-wrapper .slider-arrow.next a:hover {
  opacity: 1;
}
.slider-wrapper .slider-arrow.prev a {
  background: url(../images/arrow.png) no-repeat center;
  transform: rotate(180deg);
  opacity: .5;
}
.slider-wrapper .slider-arrow.next a {
  background: url(../images/arrow.png) no-repeat center;
  opacity: .5;
}
.slider-wrapper .slider-arrow.next {
  left: auto;
  right: 0;
}
.footer {
  background: #4D3B66;
}
.footer p {
  text-align: center;
  color: #fff;
  line-height: 26px;
  padding: 25px 0;
  font-size: .9rem;
}
.slider-wrapper {
  height: 390px;
}
.slider-wrapper .slider li {
  height: 390px;
}
.slider-wrapper .slider li .slider-content-wrapper {
  margin: 0 auto auto;
}
.about-par {
  padding: 30px 50px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.about-par section > h5 {
  width: 120px;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  font: 20px nomal;
}
.about-par section > p {
  width: 70%;
  margin: 10px auto 50px;
  text-indent: 2em;
  font-size: 13px;
  line-height: 26px;
}
.about-par section.job {
  width: 70%;
  text-align: left;
  margin: auto auto 80px;
}
.about-par section.job > h5 {
  width: auto;
  border-bottom: none;
  font-weight: bold;
}
.about-par section.job > h5 a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #00b38a;
  color: #00b38a;
  text-decoration: none;
  font-size: 13px;
  float: right;
}
.about-par section.job > h5 a img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.about-par section.job dl dt {
  font-weight: bold;
  margin: 10px 0;
  font-size: 14px;
}
.about-par section.job dl dd {
  font-size: 13px;
  line-height: 26px;
}
.about-par section.job dl dd pre {
  word-break: break-all;
}
.about-par section.job pre {
  font-family: "微软雅黑", Microsoft YaHei, Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
