@headerHeight: 90px;
@headerActiveHeight: 50px;
@themeColor: #4D3B66;

.header{
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  height: @headerHeight;
  background: @themeColor;
  opacity: .8;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;

  .logo,
  .nav{
    display: inline-block;
    padding: 15px 50px;
    height: 60px;
    line-height: 60px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    img{
      height: 100%;
      float: left;
    }
    a{
      margin-left: 10px;
      font-size: 1.8rem;
      text-decoration: none;
      color: #fff;
    }
  }

  ul.nav{
    float: right;
    list-style: none;
    li{
      display: inline-block;
      float: left;
      a{
        font-size: 0.9rem;
        margin-left: 20px;
      }
    }
  }
}

.header.active{
  height: @headerActiveHeight;

  .logo,
  .nav{
    padding: 10px 50px;
    height: 30px;
    line-height: 30px;
  }

  .logo a{
    font-size: 1.3rem;
  }
}